# Ignore virtual environment
venv/

models/
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.envs

# Ignore environment variabl
# Ignore log files
*.log

# Ignore dataset files (if they are large or sensitive)
user_datasets/

datasets/

# Ignore model files (if you don't want to track trained models)
model.pkl
